body {
	padding-bottom: 20px;
}

.nav-link {
	justify-content: right;
	color: black;
}

.navbar {
	margin-bottom: 20px;
	background-color: black;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.yellow {
	color: #ffb400;
}

.list-unstyled {
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 45px;
}

.landingpage {
	width: 100%;
	min-height: 650px;
	background-size: cover;
	text-align: center;
	background-image: url("./images//Mask Group 7.png");
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 150px;
}
.words {
	color: #ffb300;
	text-align: center;
}

.btn {
	background-color: #ffb300;
	color: white;
	text-align: center;
	border-radius: 20px;
}

.yellow {
	color: #ffb300;
	padding-left: 30px;
}

.Calculate {
	padding-left: 80px;
	padding-right: 40px;
}

.container {
	padding-top: 80px;
}

.block {
	text-align: justify;
}

.white {
	color: white;
	text-align: justify;
}

.small {
	padding-top: 50px;
	padding-left: 200px;
	padding-bottom: 50px;
}

.contact-form-btn,
.calculate-form-btn {
	border-radius: 30px;
	/* padding: 10px 50px; */
	background-color: #ffb400;
	color: white;
}

.footer {
	background-color: #ffb300;
	padding-top: 50px;
	padding-left: 140px;
	padding-bottom: 50px;
}

.d-inline {
	padding-left: 20px;
	text-align: center;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.left {
	width: 25%;
}

.right {
	width: 75%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.column2 {
	float: left;
	width: 50%;
	padding: 10px;
}

.left2 {
	width: 25%;
}

.right2 {
	width: 75%;
}

.row2:after {
	content: "";
	display: table;
	clear: both;
}

.input-style {
	width: 100%;
	border: 1px solid #707070;
	background: transparent;
}

.yellow {
	color: #ffb400;
}

.list-unstyled {
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 45px;
}

.footer-styled {
	padding-left: 35px;
	margin-top: 40px;
}

.social {
	width: 25px;
	margin-right: 15px;
}
.footer-yellow {
	background-color: #ffb400;
	padding: 10px;
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.powered-by {
	font-size: 15px;
	margin: 0;
	align-content: center;
	color: white;
}

@media screen and (min-width: 992px) {
	.btn {
		width: 200px;
		float: right;
	}

	.width-body {
		padding: 40px 30px 30px 40px;
	}
}
