body {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.nav-link {
	justify-content: right;
	color: black;
}

.navbar {
	background-color: black;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.yellow {
	color: #ffb400;
}

.list-unstyled {
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 45px;
}

.landingpage {
	width: 100%;
	min-height: 650px;
	background-size: cover;
	text-align: center;
	background-image: url("./images//15861.png");
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h3 {
	color: #ffb300;
}

.left {
	float: left;
	padding: 0 20px 20px 0;
}

.container {
	padding-top: 80px;
}

.block {
	text-align: justify;
}

.black {
	padding: 50px;
	background-color: black;
}

.white {
	color: white;
	text-align: justify;
}

.footer {
	background-color: #ffb300;
	padding-bottom: 50px;
}

.d-inline {
	margin-right: 15px;
	padding-left: 20px;
	text-align: center;
}

.blackhead {
	color: black;
	font-weight: bold;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.footer-styled {
	padding-left: 35px;
	margin-top: 40px;
}

.social {
	width: 25px;
	margin-right: 15px;
}
.footer-yellow {
	background-color: #ffb400;
	padding: 10px;
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.powered-by {
	font-size: 15px;
	margin: 0;
	align-content: center;
	color: white;
}

@media screen and (min-width: 992px) {
	.btn {
		width: 200px;
		float: right;
	}

	.width-body {
		padding: 40px 30px 30px 40px;
	}
}
