body {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.nav-link {
	justify-content: right;
	color: black;
}

.header1 {
	background-color: #ffb400;
	height: 400px;
	width: 100%;
}

.heading {
	font-size: 50px;
	display: block;
}

.heading-text {
	text-align: center;
	padding-top: 118px;
}

.width-body {
	width: 90%;
	display: block;
	margin: 40px auto;
	max-width: 1200px;
}
.paragraph-text {
	font-size: 18px;
	color: #707070;
	margin: 15px 0;
}
.input-contact {
	width: 100%;
	height: 50px;
	border: 1px solid #707070;
	background: transparent;
}
.input-contact-msg {
	height: 170px;
}
.contact-form-btn,
.calculate-form-btn {
	border-radius: 30px;
	/* padding: 10px 50px; */
	background-color: #ffb400;
	color: white;
}
.space {
	margin: 40px 0;
}
.contact-bottom {
	background-color: black;
	color: #ffb400;
}
.white-border {
	border: 1px solid white;
}
.white {
	color: white;
}
.black {
	color: black;
}
/* start of home css */

.home-icons {
	width: 100%;
	height: auto;
}
.heading-two {
	font-size: 23px;
	padding-bottom: 20px;
}
.margin-tp {
	margin-top: 20px;
}
.padding-bt {
	padding-top: 40px;
	padding-bottom: 30px;
}
.responsive-image-icon {
	width: 130px;
}
@media (min-width: 576px) {
	.container {
		max-width: none;
	}
}
@media (max-width: 1057px) {
	.responsive-image-icon {
		width: 90px;
	}
}

.navbar {
	background-color: black;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.yellow {
	color: #ffb400;
}

.list-unstyled {
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 45px;
}

.footer-styled {
	padding-left: 35px;
	margin-top: 40px;
}

.social {
	width: 25px;
	margin-right: 15px;
}
.footer-yellow {
	background-color: #ffb400;
	padding: 10px;
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.powered-by {
	font-size: 15px;
	margin: 0;
	align-content: center;
	color: white;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
.navbar-nav .nav-link,
.navbar-brand {
	color: #ffb400;
}
@media (max-width: 360px) {
	.responsive-image-icon {
		width: 140px;
	}
}
